@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Quicksand:wght@300&display=swap');

.app__header__container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app__logo{
    width: auto;
    margin-top: 60px;
    transition: max-width 1s, min-width 1s;
}

.logo__expanded{
    min-width: 230px;
    max-width: 250px;
}

.logo__contracted{
    min-width: 60px;
    max-width: 80px;
}
.app__logo__Text{
    font-family: 'Hachi Maru Pop', cursive;
    margin: 5px 0 15px 0;
    transition: font-size 1s;
}

.logoText__expanded{
    font-size: 36px;
}

.logoText__contracted{
    font-size: 15px;
}