.search__container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.search__input{
    width: 250px;
    padding: 8px 15px;
    background-color: #8691d1;
    color: #ffffff;
    border-radius: 50px;
    border-width:  0px;
    font-size: 20px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.search__input::placeholder{
    color: rgb(255, 255, 255);
}

.search__input:focus{
    outline: none;
}